# Ignore data directory
data/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# System files
.DS_Store
Thumbs.db
